.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #14191e;
}

/* leave the default body alone */
body {
  margin: 0; /* Only the global reset */
}
.signin-to-db {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensures image respects container border radius */
  }
  
  .left {
    display: none; /* Hidden by default on small screens */
  }
  
  .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 40px;
    box-sizing: border-box;
  }
  
  .right form {
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #010b1c;
    box-sizing: border-box;
  }
  
  form a {
    color: black;
    margin-top: 20px;
    text-decoration: underline;
  }
  
  .right button {
    padding: 12px;
    margin-top: 20px;
    width: 100%;
    background-color: #D84E27;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #222;
    transition: background-color 0.3s ease;
  }
  
  h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .right input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 8px;
    font-size: 16px;
  }
  
  .right input::placeholder {
    color: #9ca3af;
  }
  
  .right input:focus {
    border-color: #010b1c;
    outline: none;
  }

  .home-link {
    align-self: flex-start; /* Push to the left */
    margin-left: 20px; /* Add a little space from the edge */
    margin-top: 20px; /* Optional: a little space from the top */
    
  }
  .home-link span{
    text-decoration: underline;
    
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    .signin-to-db {
      flex-direction: row;
      height: 80vh; /* Control the height on larger screens */
    }
    
    .right {
      width: 50%;
    }
    
    .left {
      display: block;
      width: 50%;
      height: auto; /* Let it adjust to container height */
    }
  }