.home{
    background: linear-gradient(to bottom, black, midnightblue);
    min-height: 100vh;
    width: 100%;
    color: white;
}

.movie-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1rem;
    padding:1rem;  
}

.cast-card img{
    width: 100px; /* or any size you want */
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}